APP_NAME="Quản lý siêu thị mini"
APP_ENV=local
APP_URL=http://localhost/mini-supermarket-nosql/public
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=mini_supermarket
MONGODB_TLS=false
BACKUP_BIN=C:\\Program Files\\MongoDB\\Tools\\100\\bin
BACKUP_DIR=storage/backups
